[credential]
	helper = osxkeychain
	UseHttpPath = true
[alias]
	br = branch
	ci = commit
	co = checkout
	logg = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
[user]
	name = R. Mark Volkmann
	email = r.mark.volkmann@gmail.com
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
