[alias]
	br = branch
	ci = commit
	co = checkout
	logg = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
[core]
	pager = delta
[credential]
	helper = osxkeychain
	UseHttpPath = true
[delta]
	line-numbers = true
	side-by-side = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only --features=interactive
[pager]
	branch = false
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[user]
	name = R. Mark Volkmann
	email = r.mark.volkmann@gmail.com
