snippet html "HTML5 Template"
<!DOCTYPE html>
<html>
  <head>
    <title>${1:title}</title>
    <meta charset="utf-8">
  </head>
  <body>
    ${2:body}
  </body>
</html>
endsnippet

snippet log
console.log('`!p snip.rv = fn` ${1:function}: ${2:expression} =', $2);
endsnippet

snippet loge
console.log('`!p snip.rv = fn` ${1:function}: entered');
endsnippet

snippet logs
console.log('`!p snip.rv = fn`: ${1:expression} =', $1);
endsnippet

