snippet log
console.log('`!p snip.rv = fn` ${1:function}: ${2:expression} =', $2);
endsnippet

snippet ife
if (${1:condition}) {
	${2}
} else {
	${3}
}
endsnippet

snippet /**
/**
 * ${1}
 */
endsnippet
