body {
  background-color: white;
}

.vscode-body {
  color: black;
}

h1 {
  color: purple;
  font-weight: bold;
}

h2 {
  color: cornflowerblue;
  font-weight: bold;
}

h3 {
  color: green;
  font-weight: bold;
}

.hljs > code > div {
  background-color: linen;
  color: black;
}

.hljs-class .hljs-title {
  color: blue;
}

.hljs-comment {
  color: green;
}

.hljs-keyword {
  color: orange;
}

img {
  margin-top: 10px;
  outline: solid lightgray 2px;
}
